<div class="container mt-4">
  <div class="form-check mb-3">
    <input
      type="checkbox"
      class="form-check-input"
      [checked]="showList"
      (change)="showList = $any($event.target).checked"
      id="showList"
    />

    <label class="form-check-label" for="showList"> Show Student List </label>
  </div>

  @if (showList) {
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Course</th>
          <th>Marks</th>
        </tr>
      </thead>

      <tbody>
        @for (student of students; track student.id) {
          <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.marks }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="alert alert-warning">Student list is hidden.</div>
  }
</div>
