<div class="container mt-4">
  <h2 class="text-center mb-4">Product List</h2>

  <div class="row">
    @for (product of products; track product.id) {
      <div class="col-md-4 mb-3">
        <div class="card shadow h-100">
          <div class="card-body">
            <h4>{{ product.name }}</h4>

            <p>
              <strong>Price:</strong>
              ₹{{ product.price }}
            </p>

            <button class="btn btn-primary" (click)="buyProduct(product.name)">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    }
  </div>

  @if (message !== "") {
    <div class="alert alert-success mt-3">
      {{ message }}
    </div>
  }
</div>
