<div class="profile-card">
  <h2>Student Details</h2>

  <div class="info-list">
    <p>
      <span class="label">ID</span><span class="value">{{ student.id }}</span>
    </p>
    <p>
      <span class="label">Name</span
      ><span class="value">{{ student.name }}</span>
    </p>
    <p>
      <span class="label">Course</span
      ><span class="value">{{ student.course }}</span>
    </p>
    <p>
      <span class="label">Marks</span
      ><span class="value">{{ student.marks }}</span>
    </p>
  </div>

  <button routerLink="/">Back to Home</button>
</div>
